* {
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: url(/public/assets/309862.png);
    background-repeat: repeat;
    background-color: #d9d9d9;
}