/*CSS de navbar.html*/

html, body{
    margin-top: 0px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.cabecalho{
    background-color: #831C21;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
    height: 120px;
    box-shadow: 0 6px 8px grey;
}

.navegacao{
    margin-top: 0px;
    list-style: none;
    padding-left: 0px;
    text-align: left;
    height: 50px;
    font-size: 20px;
    margin-left: 35px;
}

.navegacao li{
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 25px;
    text-decoration: underline;
    text-shadow: black 4px 2px 8px;
}

.logo img{
    width: 380px;
    height: 220px;
}

.logo{
    margin-top: -115px;
    display: block;
    text-align: center;   
}

.botao{
    background-color: transparent;
    box-shadow: 4px 4px 8px black;
    color: white;
    font-size: 18px;
    width: 140px;
    height: 50px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border-radius: 15px;
    border-color: white;
    text-shadow: black 6px 3px 8px;
}



/*CSS de footer.html*/

.rodape{
    background-color: #831C21;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin-top: 1000px;
    box-shadow: 0 -6px 10px grey;
}

.rodape div{
    display: inline-block;
}

.logo2 img{
    width: 350px;
    height: 350px;
    margin-left: 20px;
}

.sobre-nos{
    margin-left: 180px;
    vertical-align: top;
    margin-top: 80px;
    margin-left: 130px;
    line-height: 30px;
    text-shadow: black 4px 2px 8px;
}

.rodape h2{
    font-size: 30px;
}


.sobre-nos ul{
    list-style: none;
    padding-left: 0px;
    text-align: left;
    font-size: 25px;
}

.redes-sociais img{
    width: 40px;
    height: 40px;
    padding-right: 10px;
    margin-top: 5px;
}


.redes-sociais{
    margin-left: 250px;
    vertical-align: top;
    margin-top: 80px;
    text-shadow: black 4px 2px 8px;
}