.Postlist{
    width: 1410px;
    height: 870px; 
    position: relative;
    background: #d9d9d9; 
    border-radius: 20px; 
    overflow: hidden;
}

.Postlist  h1{
    width: 444px;
    height: 37px; 
    left: 210px; 
    top: 82px; 
    position: absolute;
    color: #C60000; 
    font-size: 36px; 
    font-family: Quicksand; 
    font-weight: 700;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    /*word-wrap: break-word*/
}

.InstitutoAyrtonSenna{
    width: 246px; 
    height: 102px; 
    left: 1002px; 
    top: 50px; 
    position: absolute; 
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}



.Postlist .PostFixed{
    width: 389px; 
    height: 570px; 
    left: 930px; 
    top: 200px; 
    position: absolute;
}

.Postlist .PostFixed .AyrtonPodium{
    width: 305px; 
    height: 355px; 
    left: 42px; 
    top: 32px; 
    position: absolute; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 30px;
}

.Postlist .PostFixed .BGRedFixed{
    width: 570px; 
    height: 389px; 
    left: 0px; 
    top: 570px; 
    position: absolute; 
    transform: rotate(-90deg); 
    transform-origin: 0 0; background: rgba(131, 28, 33, 0.98); 
    box-shadow: 10px 10px 4px 2px rgba(0, 0, 0, 0.25); 
    border-radius: 30px;
}

.Postlist .PostFixed h2{
    width: 264px; 
    height: 23px; 
    left: 63px; 
    top: 495px; 
    position: absolute; 
    text-align: center; 
    color: #D9D9D9; 
    font-size: 24px; 
    font-family: Quicksand; 
    font-weight: 700; 
    /*word-wrap: break-word;*/
}



.Postlist .Post{
    width: 738px; 
    height: 203px; 
    left: 64px; 
    top: 300px; 
    position: absolute;
}

.Postlist .Post .AyrtonPensativo{
    width: 220px; 
    height: 203px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    border-radius: 10px;
}

.Postlist .Post .BGPost{
    width: 737px; 
    height: 203px; 
    left: 1px; 
    top: 0px; 
    position: absolute; 
    background: rgba(255, 255, 255, 0.60); 
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 10px;
}

.Postlist .Post h2{
    width: 500px; 
    height: 42px; 
    left: 234px; 
    top: 43px; 
    position: absolute; 
    color: #C60000; 
    font-size: 24px; 
    font-family: Quicksand; 
    font-weight: 600; 
    /*word-wrap: break-word*/
}

.Postlist .Post h3{
    width: 82px; 
    height: 18px; 
    left: 636px; 
    top: 162px; 
    position: absolute; 
    color: rgba(21.13, 24.55, 106.50, 0.80); 
    font-size: 16px; 
    font-family: Quicksand; 
    font-weight: 500; 
    /*word-wrap: break-word*/
}

.Postlist .Post p{
    width: 480px; 
    height: 91px; 
    left: 236px; 
    top: 89px; 
    position: absolute; 
    text-align: justify; 
    color: black; 
    font-size: 16px; 
    font-family: Quicksand; 
    font-weight: 600; 
    /*word-wrap: break-word*/
}



.Postlist .Post2{
    width: 738px; 
    height: 203px; 
    left: 64px; 
    top: 567px; 
    position: absolute;
}

.Postlist .Post2 .F1LeClerc{
    width: 220px; 
    height: 203px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    border-radius: 10px;
}

.Postlist .Post2 .BGPost2{
    width: 737px; 
    height: 203px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: rgba(255, 255, 255, 0.60); 
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 10px;
}

.Postlist .Post2 h2{
    width: 504px; 
    height: 42px; 
    left: 234px; 
    top: 28px; 
    position: absolute; 
    color: #C60000; 
    font-size: 24px; 
    font-family: Quicksand; 
    font-weight: 600; 
    /*word-wrap: break-word*/
}

.Postlist .Post2 h3{
    width: 82px; 
    height: 18px; 
    left: 636px; 
    top: 157px; 
    position: absolute; 
    color: rgba(21.13, 24.55, 106.50, 0.80); 
    font-size: 16px; 
    font-family: Quicksand; 
    font-weight: 500; 
    /*word-wrap: break-word*/
}

.Postlist .Post2 p{
    width: 480px; 
    height: 91px; 
    left: 236px; 
    top: 74px; 
    position: absolute; 
    text-align: justify; 
    color: black; 
    font-size: 16px; 
    font-family: Quicksand; 
    font-weight: 600; 
    /*word-wrap: break-word*/
}