<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/modal.css">


    <title></title>
</head>
<body>
    <button id="abrirModal">Editar Posts</button>

    <div id="modal" class="modal">
        <div class="conteudo_modal">
            <span class="fechar" id="fecharModal">&times;</span>
            <h2>Editar post</h2>
            <p>Tem certeza que deseja editar esse post?.</p>
            <button> sim </button> 
        </div>
    </div>

    <script src="/public/js/modal.js"></script>
</body>

</html>
