<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/modalrmvuser.css">
    <title>Document</title>
</head>
<body>
    <div class = "modal" id = "modal">
                    
        <div class = "ModalHead">
            <h2 class = "Cadastro-Post" > Excluir usuário </h2>
        </div>
        
            <div class = "warning" >
                <h2>Atenção, uma vez que essa ação for concluida, não é possivel desfazela.</h2>
                <h3>Tem certeza que deseja excluir esse usuário?</h3>
            </div>
            
            <div class = "botoes" >
                <button type = "excluir" class = "btn btn-primary" id = "excluir" > Exlcuir </button>
                <button type = "Cancelar" class = "btn btn-primary close" id = "Cancelar" > Cancelar </button>
            </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>