<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="../../../public/css/dashboard_admin.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="../../../public/css/landing_page_style.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>


<body class="cor_fundo_adm">

  <div class="container-fluid formato_area_adm">

    <div class="sexta_titulo_adm">
      <h1 class="nome_area_adm"> Área Administrativa - Sexta Marcha </h1>
    </div>
  </div>

  <div class="container">


    <div class="colunas_adm row row-cols-1 row-cols-sm-2 row-cols-md-4 text-center ">


      <div class="coluna_adm_login">
        <a class="fonte_adm_page" href=""><i class="tamanho_icone_adm fas fa-house-user mt-2 "></i></a>
        <h1 class="tamanho_fonte_adm"> Home </h1>
      </div>

      <div class="coluna_adm_login">
        <a class="fonte_adm_page" href=""><i class="tamanho_icone_adm fas fa-newspaper mt-2 "></i></a>
        <h1 class="tamanho_fonte_adm"> Lista de Posts </h1>
      </div>

      <div class="coluna_adm_login">
        <a class="fonte_adm_page" href=""><i class="tamanho_icone_adm fas fa-user mt-2 "></i></a>
        <h1 class="tamanho_fonte_adm"> Lista de Usuarios </h1>
      </div>

      <div class="coluna_adm_login">
        <a class="fonte_adm_page" href=""><i class="tamanho_icone_adm fas fa-sign-out-alt mt-2 "></i></a>
        <h1 class="tamanho_fonte_adm"> Log Out </h1>
      </div>

    </div>
  </div>

  <script src="https://kit.fontawesome.com/4e7ac1064c.js" crossorigin="anonymous">
  </script>

</body>


</html>