<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/public/css/navbar_footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <main class="main">          

    </main>

    <footer>
            <div class="footer-box">
                <img src="/public/assets/logo_sem_bordas.png">
            </div>
            
            <ul class="footer-box">

                <h3>Sobre Nós</h3>
                <li><a class="page-s" href="#">Missão</a></li>
                <li><a class="page-s" href="#">Visão</a></li>
                <li><a class="page-s" href="#">Valores</a></li>
            </ul>
            
            <div id="box2" class="footer-box">
                <h2>Nossas Redes Sociais:</h2>

                <div class="redes">
                    <img src="/public/assets/bandeirinha.png">
                    <a href="#"><img src="/public/assets/instagram.png"></a>
                    <a href="#"><img src="/public/assets/linkedin.png"></a>
                    <a href="#"><img src="/public/assets/twitter.png"></a>
                    <img src="/public/assets/bandeirinha.png">

                </div>
            </div>

        </div>
    </footer>
</body>

</html>