<!DOCTYPE html>
<html lang="pt">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/public/css/navbar_footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Quicksand&display=swap" rel="stylesheet">

</head>

<footer>
    <div class="rodape">

        <div class="logo2">
            <img src="/public/assets/logo_quadrada_-_fundo_transparente.png" alt="Logo quadrada Sexta Marcha">
        </div>

        

        <div class="sobre-nos">
            <h2>Sobre Nós:</h2>
            <h3><a href="#">🏆Sobre Nós🏆</a></h3>
            <ul>
                <a href="#"><li>🏆Missão</li></a>
                <a href="#"><li>🏆Visão</li></a>
                <a href="#"><li>🏆Valores</li></a>
            </ul>
        </div>

        <div class="redes-sociais">
            <h2>Nossas redes sociais:</h2>
            
            <img src="/public/assets/bandeirinha2.png" alt="Badeira de corrida">
            <a href="#"><img src="/public/assets/instagram.png" alt="Logo do Instagram"></a>
            <a href="#"><img src="/public/assets/linkedin.png" alt="Logo do Linkedin"></a>
            <a href="#"><img src="/public/assets/twitter.png" alt="Logo do Twitter"></a>
            <img src="/public/assets/bandeirinha2.png" alt="Badeira de corrida">
        </div>

    </div>
</footer>

</html>