<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/public/css/FormUsers.css">
    <title> SM Forms de Usuarios </title>
</head>

<body>
    <div class = "container" >
        <h2 class = "Cadastro" > Criação de Usuários </h2>

        <form action="processar_cadastro.php" method = "post" enctype = "multipart/form-data" >
        
            <div clas = "form-group" >
                <label for = "nome" > Nome:</label>
                <input type = "text" class = "form-control" id = "nome" name ="nome" placeholder = "Digite o nome" required>
            </div>

            <div class = "form-group" id = "Imagem" >
                <label for = "imagem" > Imagem:</label>
                <input type = "file" class = "form-control-file" id = "imagem" name = "imagem" accept = "image/*" placeholder = "Escolha a Imagem" required>
        <!--    <label for = "imagem" class = "CustomUpload"> Escolha a Imagem </label>    -->
            </div>

            <div class = "form-group" >
                <label for = "email" > Email:</label>
                <input type = "email" class = "form-control" id = "email" name = "email" placeholder = "Digite o e-mail" required>
            </div>

            <div class = "form-group" >
                <label for = "senha" class = "col-sm-2 col-form-label"> Senha:</label>
                <div class = "col-sm-10">
                  <input type = "password" class = "form-control" id = "senha" placeholder = "Senha" >
                </div>
            </div>

            <button type = "Salvar" class = "btn btn-primary" id = "Salvar" > Salvar </button>
            <button type = "Cancelar" class = "btn btn-primary" id = "Cancelar" > Cancelar </button>
        </form>
    </div>
    
    <!--    FORM DE UPDATES   -->

    <div class = "container" >
        <h2 class = "Cadastro" > Edição de Usuários </h2>

        <form action="processar_cadastro.php" method = "post" enctype = "multipart/form-data" >
        
            <div clas = "form-group" >
                <label for = "nome" > Nome:</label>
                <input type = "text" class = "form-control" id = "nome" name ="nome" placeholder = "Digite o nome" required>
            </div>

            <div class = "form-group" id = "Imagem" >
                <label for = "imagem" > Imagem:</label>
                <input type = "file" class = "form-control-file" id = "imagem" name = "imagem" accept = "image/*" placeholder = "Escolha a Imagem" required>
            </div>

            <div class = "form-group" >
                <label for = "email" > Email:</label>
                <input type = "email" class = "form-control" id = "email" name = "email" placeholder = "Digite o e-mail" required>
            </div>

            <div class = "form-group" >
                <label for = "senha" > Senha:</label>
                <input type = "password " class = "form-control" id = "senha" name = "senha" placeholder = "Digite a senha" required>
            </div>

            <button type = "Salvar" class = "btn btn-primary" id = "Salvar" > Salvar </button>
            <button type = "Cancelar" class = "btn btn-primary" id = "Cancelar" > Cancelar </button>
        </form>
    </div>

    <!--    FORM DE DELEÇÃO   -->

    <div class = "container" >
        <h2 class = "Cadastro" > Deleção de Usuário </h2>

        <form action="processar_cadastro.php" method = "post" enctype = "multipart/form-data" >

            <div class = "form-del" >
                <label for = "verifica" id = "verifica" > Deseja Deletar Esse Usuário? </label>
                <button type = "Excluir" class = "btn btn-primary" id = "Excluir" > Deletar </button>
                <button type = "Cancelar" class = "btn btn-primary" id = "Cancelar" > Cancelar </button>
            </div>
        </form>
    </div>

    <!--    FORM DE VISUALIZAÇÃO   -->

    <div class = "container" >
        <h2 class = "Cadastro" > Visualização de Usuário </h2>
       
        <form>
            <div class = "form-view" >
                <label for = "nome" >Nome:</label>
                <input type = "text" id = "nome" name = "nome" value = "Sandy Junior" readonly class = "text-view">
        
                <label for = "email"> Email:</label>
                <input type = "email" id = "email" name = "email" value = "sandy_40@example.com" readonly class = "text-view">
        
                <label for = "mensagem" id = "Mensagem"> Este Formulário não permite alterações! </label>
            </div>
        </form> 
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
