<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="../../../public/css/landing_page_style.css" />
</head>

<body>
  <div class="landing-page">
    <div class="div">
      <div class="overlap">
        <div class="overlap-group">
          <div class="fundo_ayrton"></div>
          <img class="ayrton_imagem" src="../../../public/assets/d93c633a0f81086a6637d144625b1d4c.jpeg" />
          <div class="header"></div>
          <img class="logo_sexta_marcha" src="../../../public/assets/ff504a33fcf31eeea6ab3e35478fce23.png" />
          <div class="sobre_nos_moldura"></div>
          <div class="sobre_nos_fundo"></div>
          <div class="sobre_nos_fundo_texto"></div>
          <p class="sobre_nos">
            <span class="texto_sobre">SOBRE <br /></span> <span class="texto_nos">NÓS</span>
          </p>
          <div class="detalhe_sobre_nos"></div>
          <div class="linha"></div>
          <p class="texto_introducao">
            O site tem como foco principal o automobilismo, mas sua aparência presta homenagem a Ayrton Senna, o
            piloto brasileiro icônico, e inclui referências a outras equipes e eventos do esporte.
          </p>
        </div>
        <div class="noticia_1">
          <div class="retangulo-7"></div>
          <div class="retangulo-8"></div>
          <img class="leclerc-ferrari" src="../../../public/assets/f1-leclerc-ferrari-2022 1.png" />
          <div class="retangulo-8"></div>
          <div class="NOTICIAS">NOTICÍAS</div>
          <p class="texto_leclerc">
            Charles Leclerc leva a melhor durante treino classificatório para a corrida de Bahrein ao melhorar seu
            tempo...
          </p>
        </div>
        <div class="noticia-3">
          <div class="overlap-4">
            <img class="image" src="../../../public/assets/image 1.png" />
            <div class="retangulo-9"></div>
            <div class="noticias-2">NOTICÍAS</div>
          </div>
          <p class="texto_acidente">
            &#39;Queremos ele no carro no próximo ano&#39; - Vowles diz que Williams quer que Sargeant &#39;tenha
            sucesso&#39; na equipe...
          </p>
        </div>
        <div class="noticia-5">
          <div class="overlap-4">
            <img class="image" src="../../../public/assets/image 3.png" />
            <div class="retangulo-9"></div>
            <div class="noticias-2">NOTICÍAS</div>
          </div>
          <p class="texto_acidente">
            Lawson não ficou &#39;satisfeito&#39; ao derrotar Tsunoda no Japão depois de perder a vaga na AlphaTauri
            em 2024, de...
          </p>
        </div>
        <div class="noticia-6">
          <div class="noticia-7">
            <div class="retangulo-10"></div>
            <img class="img" src="../../../public/assets/image 4.png" />
            <div class="retangulo-10"></div>
            <div class="jogos">JOGOS</div>
          </div>
          <p class="texto_f1_jogo">
            Acelere para uma nova temporada com carros redesenhados e regras reformuladas. A mais nova versão do jogo
            el...
          </p>
        </div>
        <div class="noticia-8">
          <div class="overlap-4">
            <img class="image-2" src="../../../public/assets/image 8.png" />
            <div class="retangulo-9"></div>
            <div class="noticias-2">NOTICÍAS</div>
          </div>
          <p class="texto_acidente">
            &#39;Queremos ele no carro no próximo ano&#39; - Vowles diz que Williams quer que Sargeant &#39;tenha
            sucesso&#39; na equipe...
          </p>
        </div>
        <div class="overlap-group-2">
          <div class="overlap-4">
            <img class="image-3" src="../../../public/assets/image 7.png" />
            <div class="retangulo-9"></div>
            <div class="noticias-2">NOTICÍAS</div>
          </div>
          <p class="texto_acidente">
            ‘Nenhum carro é forte o suficiente para sobreviver a esses acidentes’ – Albon e Sargeant decepcionados
            quand...
          </p>
        </div>
      </div>
      <div class="mais_noticias_botao">
        <div class="mais_noticias_texto">MAIS NOTICÍAS &gt;</div>
      </div>
      <div class="retangulo-11"></div>
      <div class="retangulo-12"></div>
    </div>
  </div>
</body>

</html>