<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="shortcut icon" href="/public/assets/logo_sem_bordas_w1i_icon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/lista_usuarios.css">
</head>

<body>
    <div class="container">
        <div class="cardtitle">
            <b class="p">Lista de Usuários</b>
            <button type="button" class="btn btn-outline-warning"><b>+</b></button>
        </div>

        <div class="tabela">
            <table class="tb">
                <thead>
                    <tr>
                        <th class="t1th">Id</th>
                        <th class="t1_5th">Usuário</th>
                        <th class="t2th">Email</th>
                        <th class="t3th">Ação</th>
                    </tr>
                </thead>
            </table>
            <table class="tbb">
                <tbody>
                    <tr>
                        <th class="t1th">1</th>
                        <td class="t1_5th">Felipe Nogueira</td>
                        <td class="t2th">felipe.nogueira@sextamarcha</td>
                        <td class="t3th"><button type="button" class="btn btn-outline-light">Visualizar</button><button
                                type="button" class="btn btn-outline-info">Editar</button><button type="button"
                                class="btn btn-outline-danger">Excluir</button></td>
                    </tr>
                    <tr>
                        <th class="t1th">2</th>
                        <td class="t1_5th">Breno Furtado</td>
                        <td class="t2th">breno.furtado@sextamarcha</td>
                        <td class="t3th"><button type="button" class="btn btn-outline-light">Visualizar</button><button
                                type="button" class="btn btn-outline-info">Editar</button><button type="button"
                                class="btn btn-outline-danger">Excluir</button></td>
                    </tr>
                    <tr>
                        <th class="t1th">3</th>
                        <td class="t1_5th">Davi Pacheco</td>
                        <td class="t2th">davi.pacheco@sextamarcha</td>
                        <td class="t3th"><button type="button" class="btn btn-outline-light">Visualizar</button><button
                                type="button" class="btn btn-outline-info">Editar</button><button type="button"
                                class="btn btn-outline-danger">Excluir</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</html>