<!DOCTYPE html>
<html lang="pt">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="/public/css/navbar_footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Quicksand&display=swap" rel="stylesheet">

</head>

<body>
    <div class="cabecalho">

         <ul class="navegacao">
            <li>Home</li>
            <li>Posts</li>
            <li><button>Entrar</button></li>
        </ul>
        <img src="/public/assets/logo_extendida_-_fundo_transparente.png">   

    </div>

   
</body>

</html>