<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="/public/css/navbar_footer.css">
    <script defer src="/public/js/app.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="nav_NavBar">
                 
            <img class="logohome" src="/public/assets/logo_sem_bordas.png" alt="Logo Sexta Marcha">
            <button class="hamburger"></button>
            
            <ul class="nav-lista">
                <li class="page"><a href="/" class="page">Home</a></li>
                <li class="page"><a href="/postlist" class="page">Posts</a></li>
                <li><a href="/login"><button class="login_navBar">Entrar</button></a></li>
            </ul>   
            
    </nav>
</body>
<script src="/public/js/navBar.js"></script>

</html>