<!DOCTYPE html>
<html lang="pt">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="/public/css/navbar_footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Quicksand&display=swap" rel="stylesheet">

</head>

<header>
    <div class="cabecalho">

        <ul class="navegacao menujs">
           <a href="#"><li class="nav">Home</li></a>
           <a href="#"><li class="nav">Posts</li></a>
           <a href="footer.html"><li class="entrar-button"><button class="botao">Entrar</button></li></a>
           <li class="threeline-icon">&#9776;</li>
       </ul>

       <div class="logo">
           <img src="/public/assets/logo_extendida_-_fundo_transparente.png" alt="Logo estendida Sexta Marcha">   
       </div>
   </div>
</header>

<body>

</body>

</html>