<!DOCTYPE html>
<html lang = "pt-br">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <script src = "https://kit.fontawesome.com/46c6a48072.js" crossorigin = "anonymous"></script>
    <link rel = "preconnect" href="https://fonts.googleapis.com">
    <link rel = "preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href = "https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel = "stylesheet">
    <link rel = "stylesheet" href = "/public/css/PostList.css">
    <title> SM PostList </title>
</head>
<body>

    <div class = "left-side">

        <div class = "header">
            <h1 class="header">POSTS MAIS RELEVANTES</h1>
            <div class = "Searchbar">
                <div class = "icons">
                    <i class = "fa-solid fa-magnifying-glass"></i>
                    <input type = "text" name = "Search" placeholder = "Search...">
                </div>
            </div>
        </div>
    
        <div class = "container">
    
          <div class = "Post">
              <img class = "AyrtonPensativo" src = "/public/assets/Ayrton-Pensativo.png" />

              <div class = "text-content">
                    <h2> Tudo sobre o Tricampeonato do Brasileiro </h2>
                    <p> Ayrton Senna da Silva ONM ComRB CvMA OME foi um piloto de Fórmula 1, empresário e filantropo brasileiro... </p>
                    <div class = "button-container">
                        <button class = "LeiaMais" >LEIA MAIS</button>
                    </div>

              </div>
              
          </div>
          
          <div class = "container">
    
            <div class = "Post">
                <img class = "F1LeClerc" src = "/public/assets/LeClerc-Ferrari.png" />
                
                <div class = "text-content">
                      <h2> Ferrari esperançosa após Pole Position </h2>
                      <p> Charles Leclerc leva a melhor durante treino classificatório para a corrida do Bahrein ao melhorar seu tempo... </p>
                      <div class = "button-container">
                          <button class = "LeiaMais" >LEIA MAIS</button>
                      </div>
  
                </div>
                
            </div>
        
        </div>
      
    </div>

    </div>


    <div class = "right-side" >
    
        <div class = "PostFixed" >
            <div class = "BGRedFixed" >
              <div class = "LinhaCinza" >
                <div class = "BGWhite" >
          
                    <img class = "AyrtonPodium" src = "/public/assets/ayrton-Podium.png"/>
                    
                    <div class = "text-fixed">
                        <p>Senna comemorando ao vencer heroicamente com a Sexta Marcha</p>
                        <h2> Interlagos, 24/03/1991 </h2>  
                    </div>  
                </div>
            </div>
          </div>
      </div>
  
    </div> 

</body>

</html>

