<!DOCTYPE html>
<html lang = "pt-br">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <script src = "https://kit.fontawesome.com/46c6a48072.js" crossorigin = "anonymous"></script>
    <link rel = "stylesheet" href = "/public/css/PostList.css">
    <title> SM PostList </title>
</head>
<body>
    <div class = "Postlist" >
        
        <h1> POSTS MAIS RELEVANTES </h1>
        
        <img class = "InstitutoAyrtonSenna" src = "/public/assets/Instituto-logo.png" />
        
        <div class = "Post" >

          <div class = "BGPost" ></div>
          <img class = "AyrtonPensativo" src = "/public/assets/Ayrton-Pensativo.png" />
          <h2> Tudo sobre o Tricampeonato do Brasileiro </h2>
          <p> Ayrton Senna da Silva ONM ComRB CvMA OME foi um piloto de Fórmula 1, empresário e filantropo brasileiro... </p>
          <a href ="#" class = "LeiaMais" > Leia mais... </a>

        </div>

        <div class = "Post2" >

          <div class = "BGPost2" ></div>
          <img class = "F1LeClerc" src = "/public/assets/LeClerc-Ferrari.png" />
          <h2> Ferrari esperançosa após Pole Position </h2>
          <p> Charles Leclerc leva a melhor durante treino classificatório para a corrida do Bahrein ao melhorar seu tempo... </p>
          <a href ="#" class = "LeiaMais" > Leia mais... </a>
 
        </div>

        <div class = "Searchbar">
          <div class = "icons">
            <i class = "fa-solid fa-magnifying-glass" ></i>
            <input type = "text" name = "Search" placeholder = "Search..."></div>
        </div>
        
        <div class = "PostFixed" >

          <div class = "BGRedFixed" ></div>
          <img class = "AyrtonPodium" src = "/public/assets/ayrton-Podium.png" />

          <div class = "SennaSextaMarchaTXT" style = "width: 281px; height: 68px; left: 54px; top: 417px; position: absolute; text-align: center" >
            <span style = "color: rgba(217, 217, 217, 0.80); font-size: 20px; font-family: Quicksand; font-weight: 700; word-wrap: break-word"> Senna comemorando ao vencer heroicamente com a </span>
            <span style = "color: #D9D9D9; font-size: 20px; font-family: Quicksand; font-weight: 700; word-wrap: break-word"> Sexta Marcha </span>
          </div>
           
            <h2> Interlagos, 24/03/1991 </h2>        
        
          </div>

      </div>  
</body>
</html>






