<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sexta Marcha</title>
    <link rel="stylesheet" href="/public/css/pvu.css">
</head>
<body>
    <main>
        <div class="navigation"></div>
        <img id="background" src="/public/assets/fundotest.png">
        <div class="cardtitle">
            <div class="square1"></div>
            <div class="square2"></div>
            <div class="square3"></div>
        </div>
        <div class="cardtext">
            <div class="square4"></div>
            <div class="square5"></div>
            <div class="square6"></div>
        </div>
        <footer class="footer"></footer>
    </main>
</body>
</html>